/* CSS declarations go here */
.hidden_div{
	display:none;
    width: 50%;
    margin: auto;
}

.site-header{
	align-content: center;
}

#website_form{
    width: 90%;
    margin: auto;
}

.panel-heading{
    height: 60px;
}

.panel-body{
    height: 160px;
}

.panel-footer{
    height: 100px;
}

.btn-rating{
    float: right !important;
    margin-right: 0px;
    width: 120px;
    child-align: middle;
}

.rating-badge{
    float: right !important;
}

.website-details{
    float: right;
}

.navbar-nav, .nav-dropdown{
    font-size: 16px;
}

.dropdown-menu{
    /*background-color: white !important;*/
    box-shadow: 10px 10px 5px #888888;
}

/*.sort-menu{*/
    /*background-color: #2b3e50;*/
    /*!*background-color: white !important;*!*/
    /*!*box-shadow: 10px 10px 5px #888888;*!*/
    /*font-size: 16px;*/
/*}*/
