<!--<template name="controlbar">-->
    <!--{{> website_form}}-->
<!--</template>-->

<!--<template name="website_form">-->
    <!--<div class="container">-->
        <!--<ul class="nav nav-pills">-->
            <!--{{#if currentUser}}-->
                <!--<li>-->
                    <!--<a class="js-toggle-website-form btn-default" href="#">-->
                        <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--{{/if}}-->
        <!--</ul>-->

    <!--</div>-->
    <!--<div id="website_form" class="hidden_div">-->
        <!--<form class="js-save-website-form">-->
            <!--<div class="form-group">-->
                <!--<label for="url">Site address</label>-->
                <!--<input type="text" class="form-control js-url-input" id="url" placeholder="http://www.mysite.com">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="title">Title</label>-->
                <!--<input type="text" class="form-control js-title-input" id="title" placeholder="My Site">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="description">Description</label>-->
                <!--<input type="text" class="form-control" id="description" placeholder="I found this site really useful for ...">-->
            <!--</div>-->

            <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</form>-->
    <!--</div>-->
<!--</template>-->