<template name="navbar">
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand js-logo" href="/">Site-o-gram</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="js-home" href="/">Home</a></li>
                        <!--<li class="dropdown sort-menu ">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                <!--Sort <span class="caret"></span>-->
                            <!--</a>-->
                            <!--<ul class="sort-menu dropdown-menu" role="menu">-->
                                <!--<li class="nav-dropdown"><a href="#" class="js-sort-by-date">By date</a></li>-->
                                <!--<li class="nav-dropdown"><a href="#" class="js-sort-by-rating">By Rating</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--Add button-->
                        {{#if currentUser}}
                            <li>{{>website_form}}</li>
                        {{/if}}

                    </ul>

                    <form class="navbar-form navbar-left js-search" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="query" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                        <a id="js-search-route" href="/search"></a>
                    </form>

                    <!-- This is login part of the navbar-->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{>loginButtons}}</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>


</template>


<template name="website_form">
    <a class="js-toggle-website-form" href="#">Add</a>

    <!---->
    <div class="modal" id="add-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add your website</h4>
                </div>
                <form class="js-save-website-form" id="website_form">
                    <div class="form-group">
                        <label for="url">Site address</label>
                        <input type="text" class="form-control js-url-input" id="url" placeholder="http://www.mysite.com">
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control js-title-input" id="title" placeholder="My Site">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control js-description-input" id="description" placeholder="I found this site really useful for ...">
                    </div>

                    <!--<button type="submit" class="btn btn-default">Submit</button>-->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default js-close-modal" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>
